footer {
	background: $dark-blue;
	color: $white;
	padding: 50px 0;
	letter-spacing: 0.05em;

	@include tablet-portrait {
		padding: 75px 0;
	}

	a {
		color: $white;
		text-decoration: underline;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}

	.logo {
		padding: 0 0 40px 0;
		display: flex;
		justify-content: center;
		width: 100%;

		@include tablet-portrait {
			width: auto;
			justify-content: flex-start;
			padding: 0;
		}

		a {
			display: block;

			img {
				width: 100%;
				max-width: 88px;
			}
		}
	}

	.copyright {
		width: 100%;
		text-align: center;
		padding: 0 0 40px 0;

		@include tablet-portrait {
			width: auto;
			padding: 0;
			text-align: right;
		}

		@include desktop {
			text-align: left;
			margin-right: auto;
			padding: 0 0 0 40px;
		}

		.notice {
			padding: 0 0 40px 0;

			@include tablet-portrait {
				padding: 0 0 15px 0;
			}
			p {
				font-size: 0.8125em;
				line-height: 1.25em;

				br {
					@include tablet-portrait {
						display: none;
					}
				}
			}
		}

		.contact {
			p {
				font-size: 0.8125em;

				a {
					font-weight: bold;
				}
			}
		}
	}

	.footer-nav {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include tablet-portrait {
			padding: 40px 0 0 0;
			justify-content: center;
		}

		@include desktop {
			width: auto;
			justify-content: flex-end;
			padding: 0;
		}

		.link {
			width: 100%;
			text-align: center;

			@include tablet-portrait {
				width: auto;
			}

			& + .link {
				padding: 20px 0 0 0;
			
				@include tablet-portrait {
					padding: 0 10px;
				}

				@include desktop {
					padding: 0 0 0 20px;
				}
			}
		}


		a {
			font-weight: bold;
			text-transform: uppercase;
			font-size: 0.875em;
		}
	}

}