header {
	position: absolute;
	top: 87px;
	left: 0;
	width: 100%;
	z-index: 100;
	padding: 20px 0;

	@include mobile-landscape {
		top: 47px;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	.logo {
		a {
			display: block;

			img {
				width: 100%;
				max-width: 88px;
			}
		}
	}

	#toggle {
		width: 35px;
	    cursor: pointer;
	    padding: 8px 0;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	    z-index: 10001;

	    @include tablet-landscape {
	    	display: none;
	    }

		.patty {
		    width: 35px;
		    height: 2px;
		    background: $white;
		    border-radius: 2px;
		    transition: all 0.3s;
		    margin-left: auto;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 35px;
			    height: 2px;
			    background: $white;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			    border-radius: 2px;
			}
			&:before {
			    top: -8px;
			}
			&:after {
			    top: 8px;
			}
		}
	}

	&.open {
		z-index: 10001;

		#toggle .patty {
			background: none;

			&:after {
			    top: 0;
			    transform: rotate(45deg);
			}
			&:before {
			    top: 0;
			    transform: rotate(-45deg);
			}
		}

	}

	nav {
		display: none;

		&.open {
			display: block;
			width: 100%;
			padding: 50px 0 0 0;
			text-align: center;

			a {
				display: block;
				padding: 20px 0;


				&.btn {
					margin-top: 20px;
					display: inline-block;
				}
			}
		}

		@include tablet-landscape {
			display: flex !important;
			align-items: center;
		}

		a {
			color: $white;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 0.875em;
			font-weight: bold;

			& + a {
				

				@include tablet-landscape {
					margin-left: 20px;
				}
			}


			&.btn {
				box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
			}
		}
	}
}

.nav-bg {
	background: $black;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10000;
	display: none;

	&.open {
		display: block;
	}

	@include tablet-landscape {
		display: none !important;
	}
}


#tpbr_topbar {
	background: linear-gradient(90deg, #ff555b 0%, #ff531a 100%) !important;
	font-family: $brandon !important;

	#tpbr_calltoaction {
		font-family: $brandon !important;
		letter-spacing: 0.05em;
		font-size: 14px !important;
		font-weight: bold !important;
	}
}

