body#homepage {

	section#hero {
		background-color: $black;

		@include aspect-ratio(1, 1.5	);

		@include mobile-landscape {
			@include aspect-ratio(4, 3);
		}

		@include tablet-portrait {
			@include aspect-ratio(16, 9);
			max-height: 800px;
		}

		.video-box{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			display: none;
			overflow: hidden;

			@include tablet-portrait {
				display: block;
			}

			&:before {
				background: rgba(0, 0, 0, 0.4);
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				content: '';
			}

			iframe {
			    position: absolute;
			    top: 0;
			    left: 0;
				bottom: 0;
				right: 0;
			    width: 100%;
			    height: 100%;
			    object-fit: cover;
			}
		}


		/* Video background */

		.videobg {
		  position: relative;
		  width: 100%; /* Set video container element width here */
		  height: 100%; /* Set video container element height here */
		  overflow: hidden;
		  background: #111; /* bg color, if video is not high enough */
		}

		/* horizontally center the video */
		.videobg-width {
		  position: absolute;
		  width: 100%; /* Change width value to cover more area*/
		  height: 100%;
		  left: -9999px;
		  right: -9999px;
		  margin: auto;
		}

		/* set video aspect ratio and vertically center */
		.videobg-aspect {
		  position: absolute;
		  width: 100%;
		  height: 0;
		  top: -9999px;
		  bottom: -9999px;
		  margin: auto;
		  padding-bottom: 56.25%; /* 16:9 ratio */
		  overflow: hidden;
		  
		}

		.videobg-make-height {
		  position: absolute;
		  top: 0; right: 0; bottom: 0; left: 0;
		}

		.videobg iframe {
		  position: absolute;
		  width: 100%;
		  height: 100%;
		  top: 0;
		  left: 0;
		  border: 0 none;
		}



		.wrapper {
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
		}

		.content {
			z-index: 10;
		}

		.info {
			text-align: left;
			color: $white;
			padding: 90px 0 0 0;

			@include tablet-portrait {
				text-align: center;
			}


			a {
				color: $white;
			}
			
			h1 {
				font-size: 1.75em;
				font-weight: bold;
				line-height: 1.125em;

				@include tablet-landscape {
					font-size: 2.875em;
				}
			}

			h2 {
				font-style: italic;
				font-size: 1.25em;
				line-height: 1.25em;
				padding: 20px 0;

				@include tablet-landscape {
					font-size: 1.625em;
					padding: 20px 0 40px 0;
				}
			}

			.cta {
				text-align: left;

				@include tablet-portrait {
					text-align: center;
				}

				.btn {
					box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
				}
			}

			.watch-video {
				padding: 30px 0 0 0;

				a {
					display: inline-block;
					border: 1px solid $white;
					padding: 10px 20px;
					border-radius: 4px;
					text-transform: uppercase;
					font-size: 0.875em;
					font-weight: bold;
					line-height: 18px;

					span {
						display: block;
						background: url(images/play-icon.svg) no-repeat 0 0;
						padding: 0 0 0 25px;
					}
				}

			}
		}
	}


	section#showcase-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.link {
			width: 100%;

			@include tablet-portrait {
				width: 33.3333%;
			}

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 20px 40px;

				@include tablet-portrait {
					padding: 30px 50px;
				}

				img {
					max-width: 32px;

					@include tablet-portrait {
						max-width: 64px;
					}
				}

				span.label {
					display: block;
					padding: 0 0 0 20px;
					text-transform: uppercase;
					letter-spacing: 0.15em;
					font-weight: bold;
					font-size: 1em;
					line-height: 1.25em;
					color: $white;

					@include tablet-landscape {
						font-size: 1.25em;
					}
				}
			}

			&:nth-child(1) {
				a {
					background: #272B34;
				}
			}

			&:nth-child(2) {
				a {
					background: #22262F;
				}
			}

			&:nth-child(3) {
				a {
					background: #171B23;
				}
			}

		}
	}


	section#message {
		background: $light-gray;
		text-align: center;

		.features {
			max-width: 640px;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			text-align: left;
			padding: 0 0 20px 0;

			.feature {
				width: 100%;
				padding: 0 0 20px 0;

				@include tablet-portrait {
					width: 45%;
				}

				p {
					font-size: 1.25em;
					line-height: 1.4em;
					background: url(images/green-checkmark.svg) no-repeat top 7px left;
					padding: 0 0 0 40px;

					@include tablet-portrait {
						font-size: 1.375em;
					}
				}
			}
		}
	}


	section#register {
		background: url(images/register-bg.svg) no-repeat bottom -250px center;
		background-size: cover;

		.options {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 20px 0 0 0;

			.option {
				width: 100%;
				text-align: center;
				background: $white;
				box-shadow: 0 6px 17px rgba(195, 208, 216, 0.62);
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
				display: flex;
				flex-direction: column;


				& + .option {
					margin-top: 50px;
				}

				@include mobile-landscape {
					width: 47.5%;

					& + .option {
						margin-top: 0;
					}

					&:nth-child(3) {
						margin: 50px auto 0 auto;
					}
				}

				@include tablet-landscape {
					width: 31.3333%;

					&:nth-child(3) {
						margin: 0;
					}

				}

				.header {
					background: $dark-blue;
					color: $white;
					padding: 25px 20px 22px 20px;
					border-top-left-radius: 8px;
					border-top-right-radius: 8px;

					@include tablet-landscape {
						padding: 35px 20px 32px 20px;
					}

					h3 {
						font-size: 1.25em;
						letter-spacing: 0.15em;
						text-transform: uppercase;
						font-weight: bold;

						@include tablet-landscape {
							font-size: 1.5em;
						}
					}
				}

				.image {
					margin-bottom: auto;
					img {
						margin: 0 auto;
						width: 100%;
					}

					&:before {
						display: block;
						content: '';
						height: 5px;
						width: 100%;
					}
				}

				.cost {
					padding: 25px 0 0 0;

					h2 {
						color: $dark-blue;
						font-weight: bold;
						position: relative;
						font-size: 3em;


						@include tablet-landscape {
							font-size: 5.4375em;
						}

						&:before {
							content: '$';
							font-size: 0.45em;
							transform: translate(-4px, -25px);
							display: inline-block;

							@include tablet-landscape {
								transform: translate(-4px, -40px);
							}
						}
					}

					em {
						padding: 10px 0 0 0;
						font-size: 0.875em;
						letter-spacing: 0.05em;
						display: block;
						color: $mid-gray;
					}

				}

				.message {
					padding: 30px 50px 0 50px;

					p {
						font-style: italic;
						font-size: 1.25em;
						line-height: 1.125em;

						@include tablet-landscape {
							font-size: 1.375em;
						}
					}

				}

				.cta {
					padding: 40px 0 25px 0;
				}

				&.green {
					.image:before {
						@include green-gradient;
					}
				}

				&.orange {
					.cta .btn,
					.image:before {
						@include orange-gradient;
					}
				}

				&.blue {
					.cta .btn,
					.image:before {
						@include blue-gradient;
					}
				}



			}
		}

		.testimonials {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 50px 0 0 0;

			.testimonial {
				width: 100%;
				text-align: center;

				& + .testimonial {
					margin-top: 50px;
				}

				@include tablet-landscape {
					width: 31.3333%;

					& + .testimonial {
						margin-top: 0;
					}

					&:before {
						display: block;
						content: '';
						width: 26px;
						height: 26px;
						background: url(images/quote-bubble.svg) no-repeat 0 0;
						margin: 0 auto 20px auto;
					}
				}

				blockquote {
					padding: 0 50px;
					margin: 0;

					p {
						color: #969BB2;
						font-style: italic;
						font-size: 1.375em;
						line-height: 1.25em;

					}
				}

				cite {
					display: block;
					padding: 20px 0 0 0;

					h4 {
						font-style: normal;
						font-weight: bold;
						font-size: 0.875em;
						letter-spacing: 0.05em;
						text-transform: uppercase;
						padding: 0 0 10px 0;
					}

					h5 {
						text-transform: uppercase;
						letter-spacing: 0.05em;
						font-size: 0.75em;
					}
				}
			}
		}
	}


	section#custom-pricing {
		text-align: center;

		p {
			font-style: italic;
			font-weight: bold;
			font-size: 1.125em;
			line-height: 1.25em;

			@include tablet-portrait {
				font-size: 1.375em;
			}

			a {
				color: $green;
				text-decoration: underline;
			}
		}
	}


	section#who-its-for {
		background: $light-gray;

		.company-types {
			max-width: 960px;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			border-radius: 8px;
			border: 1px solid #BBBECC;


			.company-type {
				width: 100%;
				padding: 20px;
				border-bottom: 1px solid #BBBECC;

				&:last-of-type {
					border-bottom: 0;
				}


				@include mobile-landscape {
					width: 50%;

					&:nth-last-child(2) {
						border-bottom: 0;
					}

					&:nth-child(even) {
						border-left: 1px solid #BBBECC;
					}
				}

				@include tablet-landscape {
					width: 33.3333%;

					&:nth-last-child(3) {
						border-bottom: 0;
					}

					&:nth-child(even) {
						border-left: none;
					}
					&:nth-child(3n),
					&:nth-child(3n + 2) {
						border-left: 1px solid #BBBECC;
					}
				}

				p {
					font-size: 1.25em;
					line-height: 1.125em;
					display: flex;

					@include tablet-landscape {
						font-size: 1.375em;
					}

					span {
						padding: 0 0 0 20px;
					}

					&:before {
						display: inline-block;
						width: 24px;
						height: 21px;
						background: url(images/green-checkmark.svg) no-repeat 0 0;
						transform: translateY(4px);
						content: '';
					}
				}


			}
		}

		.company-types-note {
			padding: 50px 0;
			text-align: center;

			em {
				font-size: 1.375em;
			}
		}
	}

	
	section#why-storybrand {

		.testimonial {
			text-align: center;
			letter-spacing: 0.05em;

			&:before {
				display: block;
				content: '';
				width: 26px;
				height: 26px;
				background: url(images/quote-bubble.svg) no-repeat 0 0;
				margin: 0 auto 20px auto;
			}

			blockquote {
				margin: 0 auto;
				max-width: 420px;

				p {
					font-style: italic;
					font-size: 1.375em;
					line-height: 1.25em;

					@include tablet-portrait {
						font-size: 1.75em;
					}

				}
			}

			cite {
				display: block;
				padding: 20px 0 0 0;

				h4 {
					font-style: normal;
					font-weight: bold;
					font-size: 0.875em;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					padding: 0 0 10px 0;
				}

				h5 {
					text-transform: uppercase;
					letter-spacing: 0.1em;
					font-size: 0.75em;
				}
			}

		}

		.features {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 50px 0;

			@include tablet-landscape {
				padding: 100px 0;
			}

			.feature {
				width: 100%;
				text-align: center;

				& + .feature {
					margin-top: 50px;
				}

				@include tablet-landscape {
					width: 31.3333%;

					& + .feature {
						margin-top: 0;
					}
				}

				.image {
					padding: 0 0 25px 0;

					@include tablet-landscape {
						padding: 0 0 50px 0;
					}
					img {
						margin: 0 auto;
					}
				}

				.info {
					letter-spacing: 0.05em;

					h3 {
						text-transform: uppercase;
						font-weight: bold;
						font-family: 1.125em;
						padding: 0 0 25px 0;
					}

					p {
						color: #969BB2;
						font-size: 1.375em;
						line-height: 1.125em;
						font-style: italic;
						max-width: 240px;
						margin: 0 auto;
					}
				}


			}
		}
	}


	section.video {
		@include aspect-ratio(4, 3);

		@include mobile-landscape {
			@include aspect-ratio(16, 7);			
		}

		.wrapper {
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
		}

		.info {
			text-align: center;
			color: $white;

			a {
				color: $white;
			}

			h3 {
				font-weight: bold;
				font-size: 1.125em;
				line-height: 1.25em;
				max-width: 640px;
				margin: 0 auto;

				@include tablet-portrait {
					font-size: 2em;
				}
			}

			.play {
				padding: 20px 0 0 0;

				@include tablet-portrait {
					padding: 40px 0 0 0;
				}

				a {
					display: block;

					&:before {
						width: 36px;
						height: 36px;
						background: url(images/play-btn-large.svg) no-repeat 0 0;
						background-size: 100%;
						content: '';
						display: block;
						margin: auto;

						@include tablet-portrait {
							width: 71px;
							height: 72px;
						}
					}

					span {
						display: block;
						font-weight: bold;
						text-transform: uppercase;
						letter-spacing: 0.1em;
						padding: 10px 0 0 0;
						font-size: 0.75em;

						@include tablet-portrait {
							padding: 20px 0 0 0;
						}
					}
				}
			}
		}
	}


	section#difference {

		@include tablet-landscape {
			padding: 125px 0;
		}

		.info {
			max-width: 640px;
			margin: 0 auto;

			h2.section-header {
				text-align: left;

			}

			p {
				font-size: 1.375em;
				line-height: 1.25em;
				padding: 0 0 40px 0;
			}

			a {
				font-size: 1.375em;
				font-weight: bold;
				color: $green;
				text-decoration: underline;
			}

			.more {
				padding: 40px 0 0 0;
				display: none;
			}
		}
	}


	section#testimonials {
		

		.slide {
			@include aspect-ratio(1, 1);

			@include mobile-landscape {
				@include aspect-ratio(4, 3);
			}
			
			@include tablet-portrait {
				@include aspect-ratio(16, 7);
				max-height: 600px;
			}

			.wrapper {
				display: flex;
				height: 100%;
				align-items: center;
				justify-content: center;
			}

			.info {
				color: $white;
				text-align: center;
				max-width: 720px;
				margin: 0 auto;
				letter-spacing: 0.05em;
				
				blockquote {
					padding: 0 0 30px 0;

					@include tablet-portrait {
						padding: 0 0 60px 0;
					}

					p {
						font-size: 1.25em;
						line-height: 1.25em;
						font-style: italic;

						@include tablet-portrait {
							font-size: 1.625em;
						}
					}
				}

				cite {
					display: block;
	
					h4 {
						font-weight: bold;
						font-style: normal;
						text-transform: uppercase;
						font-size: 1.25em;
						letter-spacing: 0.1em;

						@include tablet-portrait {
							font-size: 1.625em;
						}						
					}

					h5 {
						text-transform: uppercase;
						padding: 10px 0 0 0;
						font-size: 0.875em;

						@include tablet-portrait {
							font-size: 1em;
							padding: 20px 0 0 0;
						}
					}
				}
			}

		}
	}


	section#testimonials-nav {
		display: flex;
		justify-content: center;
		transform: translateY(-32px);

		@include tablet-portrait {
			transform: translateY(-65px);
		}


		a {
			display: block;
			max-width: 64px;
			margin: 0 12px;

			@include tablet-portrait {
				max-width: 130px;
				margin: 0 18px;
			}

			img {
				border-radius: 50%;
			}
		}
	}


	section.live {
		h3.sub-headline {
			color: $orange;
			font-weight: bold;
			text-align: center;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			font-size: 1.37em;
			padding: 0 0 20px 0;

			@include tablet-portrait {
				font-size: 1.625em;
			}
		}

		.cta {
			.btn {
				@include orange-gradient;
			}
		}
	}


	section#live-workshop {
		background: url(images/register-bg.svg) no-repeat bottom -350px center;
		background-size: cover;

		.info {
			max-width: 640px;
			margin: 0 auto;
			padding: 0 0 50px 0;

			p {
				font-size: 1.375em;
				line-height: 1.25em;
				padding: 0 0 40px 0;

				@include tablet-portrait {
					font-size: 1.625em;
				}
			}
		}

		.options {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 20px 0 0 0;

			.option {
				width: 100%;
				text-align: center;
				background: $white;
				box-shadow: 0 6px 17px rgba(195, 208, 216, 0.62);
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
				display: flex;
				flex-direction: column;


				& + .option {
					margin-top: 50px;
				}

				@include mobile-landscape {
					width: 47.5%;

					& + .option {
						margin-top: 0;
					}

					&:nth-child(3) {
						margin: 50px auto 0 auto;
					}
				}

				@include tablet-landscape {
					width: 31.3333%;

					&:nth-child(3) {
						margin: 0;
					}

				}

				.header {
					background: $dark-blue;
					color: $white;
					padding: 20px 20px 17px 20px;
					border-top-left-radius: 8px;
					border-top-right-radius: 8px;

					@include tablet-landscape {
						padding: 25px 20px 22px 20px;
					}

					h4 {
						text-transform: uppercase;
						letter-spacing: 0.15em;
						font-weight: bold;
						color: #969BB2;
						padding: 0 0 15px 0;
					}

					h3 {
						font-size: 1.5em;
						letter-spacing: 0.05em;
						font-weight: bold;

						@include tablet-landscape {
							font-size: 2em;
						}
					}
				}

				.cost {
					&:before {
						display: block;
						content: '';
						height: 5px;
						width: 100%;
						@include orange-gradient;
					}

					h2 {
						color: $dark-blue;
						font-weight: bold;
						position: relative;
						font-size: 3em;
						padding: 25px 0 0 0;


						@include tablet-landscape {
							font-size: 5.4375em;
						}

						&:before {
							content: '$';
							font-size: 0.45em;
							transform: translate(-4px, -25px);
							display: inline-block;

							@include tablet-landscape {
								transform: translate(-4px, -40px);
							}
						}
					}

					em {
						padding: 20px 0 0 0;
						font-size: 1em;
						letter-spacing: 0.05em;
						display: block;
						color: $mid-gray;
						text-transform: uppercase;
					}

				}


				.cta {
					padding: 40px 0 25px 0;
				}





			}
		}

		.note {
			padding: 50px 0 0 0;
			text-align: center;
			font-style: italic;

			h4 {
				font-size: 1.375em;
				line-height: 1.25em;
				padding: 0 0 40px 0;

			}

			p {
				font-size: 1em;
				line-height: 1.25em;
				letter-spacing: 0.05em;

				a {
					color: $orange;
					text-decoration: underline;
				}
			}
		}
	}


	section#live-workshop-calendar {

		.events {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		
		.event {
			width: 100%;
			@include aspect-ratio(1, 1.2);
			
			& + .event {
				margin-top: 125px;
			}

			@include mobile-landscape {
				@include aspect-ratio(1, 0.75);
			}

			@include tablet-portrait {
				@include aspect-ratio(16, 9);
			}

			@include tablet-landscape {			
				width: 47.5%;
				margin: 0 1.125%;
				@include aspect-ratio(1, 1);
				
				& + .event {
					margin-top: 0;
				}
			}

			.content {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				text-align: center;
			}

			.location {
				color: $white;
				padding: 70px 0 0 0;
				text-transform: uppercase;
				

				h3 {
					font-weight: bold;
					font-size: 1.25em;
					letter-spacing: 0.1em;

					@include tablet-landscape {
						font-size: 3em;
					}

					&:before {
						display: block;
						margin: 0 auto 20px auto;
						content: '';
						width: 32px;
						height: 32px;
						background: url(images/location-icon.svg) no-repeat 0 0;
						background-size: 100%;

						@include tablet-landscape {
							width: 64px;
							height: 64px;
							marmargin: 0 auto 4px auto;
						}
					}
				}

				h4 {
					font-weight: bold;
					font-size: 0.875em;
					letter-spacing: 0.6em;
					padding: 12px 0 0 0;

					@include tablet-landscape {
						font-size: 1.25em;
					}

				}
			}

			.info {
				background: $white;
				border-radius: 4px;
				padding: 25px;
				max-width: 80%;
				width: 100%;
				margin: 0 auto;
				box-shadow: 0 6px 17px rgba(162, 162, 162, 0.62);
				transform: translateY(25px);

				@include tablet-landscape {
					padding: 30px 50px 50px 50px;
					transform: translateY(50px);
					height: 100%;
					max-height: 320px;
				}

				.info-wrapper {
					@include tablet-landscape {
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
						height: 100%;
					}
				}

				.dates {
					padding: 0 0 20px 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					flex: 1;

					.date {
						padding: 20px;

						& + .date {
							border-top: 1px solid #BBBECC;
						}

						p {
							font-weight: bold;
							font-size: 1.25em;
							display: flex;
							align-items: center;
							justify-content: center;
							
							&:before {
								display: block;
								content: '';
								width: 45px;
								height: 45px;
								background: url(images/cal-icon.svg) no-repeat 0 0;

								@include tablet-portrait {
									width: 36px;
									height: 36px;
								}
							}

							span {
								padding: 0 0 0 20px;
							}

							@include desktop {
								font-size: 1.75em;
							}
						}
					}
				}

				.cta {
					.btn {
						padding: 15px 30px;

						@include tablet-landscape {
							padding: 20px 60px;
						}
					}
				}
			}
		}
	}


	section#live-workshop-features {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		overflow: hidden;


		.wrapper {

		}


		.info{
			width: 100%;

			@include tablet-portrait {
				width: 45%;
			}

			.info-wrapper {
				margin: 0 auto;
				max-width: 100%;				
				padding: 0 25px;
				transition: padding 0.2s ease-in;

				@include tablet-portrait {
					margin-right: 0;
					max-width: 525px; 
				}

				@media screen and (min-width: 1250px) {
					padding: 0;
				}
			}

			h2.section-header,
			h3.sub-headline {
				text-align: left;
			}

			.features {
				counter-reset: feature;

				.feature {
					counter-increment: feature;


					& + .feature {
						padding: 20px 0 0 0;
					}

					p {
						font-size: 1.125em;
						display: flex;
						align-items: center;

						@include tablet-portrait {
							font-size: 1.375em;
						}

						&:before {
							content: counter(feature);
							display: block;
							@include orange-gradient;
							color: $white;
							width: 32px;
							height: 32px;
							text-align: center;	
							line-height: 34px;
							border-radius: 50%;
							font-weight: bold;
							font-size: 0.75em;
						}

						span {
							padding: 0 0 0 20px;
							letter-spacing: 0.05em;
						}
					}
				}
			}
		}


		.graphic{
			width: 100%;
			padding: 50px 0 0 0;

			@include tablet-portrait {
				width: 55%;
				padding: 0;
			}

			.graphic-wrapper {
				@include tablet-portrait {
					transform: translateX(50px);
				}
			}
		}
	}


	section#live-workshop-register {
		background: url(images/register-bg.svg) no-repeat bottom -350px center;
		background-size: cover;

		.form-wrapper {
			background: $white;
			border-radius: 8px;
			width: 100%;
			max-width: 580px;
			margin: 0 auto;
			box-shadow: 0 6px 17px rgba(162, 162, 162, 0.62);

			.form-headline,
			.form-body {
				padding: 25px;

				@include mobile-landscape {
					padding: 60px;
				}
	
			}

			.form-headline {
				border-bottom: 1px solid #DADDE7;

				h2.section-header {
					padding-bottom: 0;
				}
			}

			.gform_wrapper {
				display: block !important;

				ul.gform_fields li.gfield {
					padding: 0 0 25px 0;
					margin: 0;
				}

				#field_1_44 {
					padding: 0 0 10px 0;
				}

				#field_1_7,
				#field_1_39,
				#field_1_36 {
					padding: 0 0 50px 0;
				}

				label {
					text-transform: uppercase;
					font-size: 16px;
					letter-spacing: 0.05em;
				}
				.gfield_label[for="input_1_7"] {
					display: none;
				}

			}

			select {
				width: 100%;
				appearance: none;
				border-radius: 3px;
				padding: 15px 50px 15px 15px;
				background: $white url(images/select-icon.svg) no-repeat right 15px center;
				border: 1px solid #D1D3E1;

				@include tablet-portrait {
					padding: 15px;
				}

				&:focus,
				&:active {
					outline: none;
				}
			}

			.online-title,
			.gform-workshop  .gfield_label_before_complex,
			#field_1_48 .gfield_label_before_complex {
				color: $orange;
				font-weight: bold;
				letter-spacing: 0.05em;
				padding: 0 0 10px 0 !important;
			}

			.name_first label,
			.name_last label {
				padding: 5px 0;
				letter-spacing: 0;
				font-size: 0.8125em;
			}

			.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
			.gform_wrapper textarea {
				width: 100%;
				border: 1px solid #D1D3E1;
				border-radius: 3px;
				padding: 15px;

				&:focus,
				&:active {
					outline: none;
				}
			}

			.gform_wrapper li.gfield.gfield_creditcard_warning {
				border: none;
				background: none;
			}

			.ginput_container_creditcard,
			.ginput_container_address {

				span {
					display: block;
				}

				.ginput_full {
					padding: 0 0 20px 0;
				}

				label {
					font-size: 0.8125em;
					padding: 5px 0 0 0;
				}

				.gform_card_icon_container {
					padding: 0 0 20px 0;
					height: auto;
					margin: 0;
				}

				.ginput_right,
				.ginput_left {
					width: 100%;
					margin-right: 0;
					padding: 0 0 20px 0;
				}


			}

			.ginput_total {
				color: $orange;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.625em;
				letter-spacing: 0.02em;
			}

			.gform_wrapper .ginput_complex .ginput_cardinfo_right span.ginput_card_security_code_icon {
				height: 28px;
				background-position: 0 -122px;
				left: 0;

			}

			.gfield_creditcard_warning_message {
				padding: 20px 40px;
				color: $orange;

				span {
					border-bottom: 0;
					padding-bottom: 0;
					margin-bottom: 0;
					
				}
			}

			#field_1_23 {
				text-align: center;
				font-size: 0.875em;
				line-height: 1.25em;
				font-style: italic;
				color: $dark-blue;
				letter-spacing: 0.05em;
				padding: 50px 0 0 0;
				margin: 0;

				a {
					color: $orange;
					text-decoration: underline;
				}
			}

			.gform_footer input[type="submit"] {
				border: none;
				@include orange-gradient;
				border-radius: 4px;
				color: $white;
				font-weight: bold;
				font-size: 1.5em;
				padding: 10px 10px !important;
				margin: 0;
				min-height: 0;
				display: block;
				width: 100%;
				letter-spacing: 0.05em;

				@include tablet-portrait {
					padding: 25px 10px !important;
				}

				&:focus,
				&:active {
					outline: none;
				}
			}
		}		
	}

}