body.page-template-default:not(.home) {

	section.anchor + section.inline-video {
		padding-top: 0;
	}

	section.inline-video + section.paragraph {
		padding-top: 100px;
	}

	section.calendar + section.register-form {
		padding-top: 150px;
	}

	section.testimonials-nav + section.calendar,
	section.testimonials-nav + section.paragraph,
	section.testimonials-nav + section.register-form {
		padding-top: 0px;
		margin-top: -50px;
	}

	section.paragraph + section.calendar,
	section.paragraph + section.anchor {
		padding-top: 0px;
		margin-top: -50px;
	}

}