body {
	background: #fff;
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

section.default-spacing {
	padding: 50px 0;

	@include tablet-portrait {
		padding: 75px 0;
	}
}

.register-note {
	text-align: center;
	padding: 20px 0 0 0;

	p {
		font-style: italic;
		font-size: 1em;
		letter-spacing: 0.02em;

		a {
			color: $green;
			text-decoration: underline;
		}
	}
}


#overlay {
    background-color: #000!important;
    display: none;
    height: 100vh;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9999999;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#overlay > div {
    display: table-cell;
    vertical-align: middle;
}

.overlay-x {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #797979;
    background-color: #fff;
    position: absolute;
    letter-spacing: 2px;
    border-radius: 3px;
    padding: 16px 20px;
    margin-top: 30px;
    left: 30px;
    top: 0;
    z-index: 2;
}

.video-x-circle {
    border: 2px solid #797979;
    border-radius: 40px;
    color: #797979;
    background-color: #fff;
    width: 40px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 37px;
    padding-left: 2px;
    margin-right: 10px;
    text-align: center;
    height: 40px;
    display: inline-block;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
