/* Media Queries
----------------------------------*/
$mobile-portrait-width: 480px;
$mobile-landscape-width: 568px;
$tablet-portrait-width: 768px;
$tablet-landscape-width: 1024px;
$desktop-width: 1280px;

@mixin mobile-portrait {
	@media screen and (min-width: #{$mobile-portrait-width}) {
		@content;
	}
}

@mixin mobile-landscape {
	@media screen and (min-width: #{$mobile-landscape-width}) {
		@content;
	}
}

@mixin tablet-portrait {
	@media screen and (min-width: #{$tablet-portrait-width}) {
		@content;
	}
}

@mixin tablet-landscape {
	@media screen and (min-width: #{$tablet-landscape-width}) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: #{$desktop-width}) {
		@content;
	}
}


@mixin wrapper-padding {
	margin: 0 auto;
	max-width: 1200px; 
	padding: 0 25px;
	transition: padding 0.2s ease-in;

	@media screen and (min-width: 1250px) {
		padding: 0;
	}
}

@mixin aspect-ratio($width, $height) {
	position: relative;

	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	
	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}


@mixin green-gradient {
	background: rgb(26,203,151) !important;
	background: linear-gradient(90deg, rgba(26,203,151,1) 0%, rgba(20,201,173,1) 100%) !important;
}

@mixin orange-gradient {
	background: rgb(255,88,124) !important;
	background: linear-gradient(90deg, rgba(255,88,124,1) 0%, rgba(255,83,26,1) 100%) !important;
}

@mixin blue-gradient {
	background: rgb(88,229,255) !important;
	background: linear-gradient(90deg, rgba(88,229,255,1) 0%, rgba(26,180,255,1) 100%) !important;
}
