html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $dark-blue;
	font: 400 100%/1 $brandon;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

p {

}

a {
	color: $slate;
	transition: all 0.3s ease-in-out;
}

.cta {
	text-align: center;
}

.btn {
	color: $white;
	@include green-gradient;
	border-radius: 4px;
	padding: 15px 30px;
	font-size: 1.25em;
	font-weight: bold;
	display: inline-block;
	box-shadow: 0 2px 4px rgba(195, 208, 216, 0.5);
	letter-spacing: 0.05em;

	&.blue {
		@include blue-gradient
	}

	&.orange {
		@include orange-gradient
	}

	@include tablet-landscape {
		padding: 25px 50px;
		font-size: 1.5em;
	}

	&.small {
		padding: 15px 25px;
		font-size: 0.875em;
	}
}

h2.section-header {
	font-weight: bold;
	font-size: 1.75em;
	line-height: 1.125em;
	padding: 0 0 50px 0;
	text-align: center;

	@include tablet-portrait {
		font-size: 2.5em;
	}
}