/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #F7F9FC;
$mid-gray: #727581;
$charcoal: #424242;
$slate: #2a2a2a;
$black: #000;

$green: #1ACB97;
$dark-blue: #2B2D3A;
$orange: #EE4D43;



/* Typography
----------------------------------*/
$brandon: 'brandon-grotesque', sans-serif;
