section.calendar {
	padding: 50px 0;

	h3.sub-headline {
		color: $orange;
		font-weight: bold;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		font-size: 1.37em;
		padding: 0 0 20px 0;

		@include tablet-portrait {
			font-size: 1.625em;
		}
	}

	.events {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
	.event {
		width: 100%;
		@include aspect-ratio(1, 1.2);
		
		& + .event {
			margin-top: 125px;
		}

		@include mobile-landscape {
			@include aspect-ratio(1, 0.75);
		}

		@include tablet-portrait {
			@include aspect-ratio(16, 9);
		}

		@include tablet-landscape {			
			width: 47.5%;
			@include aspect-ratio(1, 1);
			
			& + .event {
				margin-top: 0;
			}
		}

		.content {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: center;
		}

		.location {
			color: $white;
			padding: 70px 0 0 0;
			text-transform: uppercase;
			

			h3 {
				font-weight: bold;
				font-size: 1.25em;
				letter-spacing: 0.1em;

				@include tablet-landscape {
					font-size: 3em;
				}

				&:before {
					display: block;
					margin: 0 auto 20px auto;
					content: '';
					width: 32px;
					height: 32px;
					background: url(images/location-icon.svg) no-repeat 0 0;
					background-size: 100%;

					@include tablet-landscape {
						width: 64px;
						height: 64px;
						marmargin: 0 auto 4px auto;
					}
				}
			}

			h4 {
				font-weight: bold;
				font-size: 0.875em;
				letter-spacing: 0.6em;
				padding: 12px 0 0 0;

				@include tablet-landscape {
					font-size: 1.25em;
				}

			}
		}

		.info {
			background: $white;
			border-radius: 4px;
			padding: 25px;
			max-width: 80%;
			width: 100%;
			margin: 0 auto;
			box-shadow: 0 6px 17px rgba(162, 162, 162, 0.62);
			transform: translateY(25px);

			@include tablet-landscape {
				padding: 30px 50px 50px 50px;
				transform: translateY(50px);
				height: 100%;
				max-height: 320px;
			}

			.info-wrapper {
				@include tablet-landscape {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					height: 100%;
				}
			}

			.dates {
				padding: 0 0 20px 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				flex: 1;

				.date {
					padding: 20px;

					& + .date {
						border-top: 1px solid #BBBECC;
					}

					p {
						font-weight: bold;
						font-size: 1.25em;
						display: flex;
						align-items: center;
						justify-content: center;
						
						&:before {
							display: block;
							content: '';
							width: 45px;
							height: 45px;
							background: url(images/cal-icon.svg) no-repeat 0 0;

							@include tablet-portrait {
								width: 36px;
								height: 36px;
							}
						}

						span {
							padding: 0 0 0 20px;
						}

						@include desktop {
							font-size: 1.75em;
						}
					}
				}
			}

			.cta {
				.btn {
					padding: 15px 30px;

					@include tablet-landscape {
						padding: 20px 60px;
					}
				}
			}
		}
	}
}