section.hero-background-image {
	background-color: $black;

	@include aspect-ratio(4,5);

	@include mobile-landscape {
		@include aspect-ratio(4, 3);
	}

	@include tablet-portrait {
		@include aspect-ratio(16, 9);
		max-height: 800px;
	}

	.wrapper {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
	}

	.content {
		z-index: 10;
	}

	.info {
		text-align: left;
		color: $white;
		transform: translateY(-25px);
		padding: 75px 0 0 0;

		@include tablet-portrait {
			text-align: center;
			transform: translateY(-75px);
			padding: 0;
		}

		a {
			color: $white;
		}
		
		h1 {
			font-size: 1.75em;
			font-weight: bold;
			line-height: 1.125em;

			@include tablet-landscape {
				font-size: 2.875em;
			}
		}

		h2 {
			font-style: italic;
			font-size: 1.25em;
			line-height: 1.25em;
			padding: 20px 0;

			@include tablet-landscape {
				font-size: 1.625em;
				padding: 20px 0 40px 0;
			}
		}

		.cta {
			text-align: left;

			@include tablet-portrait {
				text-align: center;
			}

			.btn {
				box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
			}
		}
	}

}