section.inline-video {
	padding: 50px 0;

	@include tablet-landscape {
		padding: 100px 0;
	}

	.wrapper {

	}

	.poster {
		max-width: 600px;
		margin: 0 auto;

		@include tablet-landscape {
			max-width: 800px;
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;

			span.play {
				display: block;
				position: absolute;

				&:before {
					width: 36px;
					height: 36px;
					background: url(images/play-btn-large.svg) no-repeat 0 0;
					background-size: 100%;
					content: '';
					display: block;
					margin: auto;

					@include tablet-portrait {
						width: 71px;
						height: 72px;
					}
				}

				span.label {
					display: block;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 0.1em;
					padding: 10px 0 0 0;
					font-size: 0.75em;
					color: $white;

					@include tablet-portrait {
						padding: 20px 0 0 0;
					}
				}
			}

			img {
				border-radius: 4px;
			}

		}
	}
}

section.hero-background-image + section.inline-video {
	padding-top: 0;
	margin-bottom: -200px;
	z-index: 100;

	@include tablet-landscape {
		margin-bottom: -425px;
	}

	.poster, {
		transform: translateY(-125px);

		@include tablet-landscape {
			transform: translateY(-325px);
		}

	}


}