section.paragraph {
	padding: 50px 0;

	h3 {
		color: $orange;
		font-weight: bold;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		font-size: 1.37em;
		padding: 0 0 20px 0;

		@include tablet-portrait {
			font-size: 1.625em;
		}
	}

	.info {
		max-width: 640px;
		margin: 0 auto;
		padding: 0 0 50px 0;

		p {
			font-size: 1.375em;
			line-height: 1.25em;
			padding: 0 0 40px 0;

			@include tablet-portrait {
				font-size: 1.625em;
			}
		}
	}
	

}