section.pricing {
	background: url(images/register-bg.svg) no-repeat bottom -350px center;
	background-size: cover;
	padding: 0 0 100px 0;
	margin: 0 0 50px 0;

	.options {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 20px 0 0 0;

		.option {
			width: 100%;
			text-align: center;
			background: $white;
			box-shadow: 0 6px 17px rgba(195, 208, 216, 0.62);
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
			display: flex;
			flex-direction: column;


			& + .option {
				margin-top: 50px;
			}

			@include mobile-landscape {
				width: 47.5%;

				& + .option {
					margin-top: 0;
				}

				&:nth-child(3) {
					margin: 50px auto 0 auto;
				}
			}

			@include tablet-landscape {
				width: 31.3333%;

				&:nth-child(3) {
					margin: 0;
				}

			}

			.header {
				background: $dark-blue;
				color: $white;
				padding: 20px 20px 17px 20px;
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;

				@include tablet-landscape {
					padding: 25px 20px 22px 20px;
				}

				h4 {
					text-transform: uppercase;
					letter-spacing: 0.15em;
					font-weight: bold;
					color: #969BB2;
					padding: 0 0 15px 0;
				}

				h3 {
					font-size: 1.5em;
					letter-spacing: 0.05em;
					font-weight: bold;

					@include tablet-landscape {
						font-size: 2em;
					}
				}
			}

			.cost {
				&:before {
					display: block;
					content: '';
					height: 5px;
					width: 100%;
					@include orange-gradient;
				}

				h2 {
					color: $dark-blue;
					font-weight: bold;
					position: relative;
					font-size: 3em;
					padding: 25px 0 0 0;


					@include tablet-landscape {
						font-size: 5.4375em;
					}

					&:before {
						content: '$';
						font-size: 0.45em;
						transform: translate(-4px, -25px);
						display: inline-block;

						@include tablet-landscape {
							transform: translate(-4px, -40px);
						}
					}
				}

				em {
					padding: 20px 0 0 0;
					font-size: 1em;
					letter-spacing: 0.05em;
					display: block;
					color: $mid-gray;
					text-transform: uppercase;
				}

			}

			&.blue {
				.cost {
					&:before {
						@include blue-gradient;
					}
				}
			}

			&.green {
				.cost {
					&:before {
						@include green-gradient;
					}
				}
			}

			&.orange {
				.cost {
					&:before {
						@include orange-gradient;
					}
				}
			}



			.cta {
				padding: 40px 0 25px 0;
			}
		}
	}

	.note {
		padding: 50px 0 0 0;
		text-align: center;
		font-style: italic;

		h4 {
			font-size: 1.375em;
			line-height: 1.25em;
			padding: 0 0 40px 0;

		}

		p {
			font-size: 1em;
			line-height: 1.25em;
			letter-spacing: 0.05em;

			a {
				color: $orange;
				text-decoration: underline;
			}
		}
	}
}
