section.register-form {
	background: url(images/register-bg.svg) no-repeat bottom -350px center;
	background-size: cover;
	padding: 50px 0;

	@include tablet-portrait {
		padding: 100px 0;
	}

	.form-wrapper {
		background: $white;
		border-radius: 8px;
		width: 100%;
		max-width: 580px;
		margin: 0 auto;
		box-shadow: 0 6px 17px rgba(162, 162, 162, 0.62);

		.form-headline,
		.form-body {
			padding: 25px;

			@include mobile-landscape {
				padding: 60px;
			}

		}

		.form-headline {
			border-bottom: 1px solid #DADDE7;

			h2.section-header {
				padding-bottom: 0;
			}
		}

		.gform_wrapper {
			display: block !important;

			ul.gform_fields li.gfield {
				padding: 0 0 25px 0;
				margin: 0;
			}

			#field_1_44 {
				padding: 0 0 10px 0;
			}

			#field_1_7,
			#field_1_39,
			#field_1_36 {
				padding: 0 0 50px 0;
			}

			label {
				text-transform: uppercase;
				font-size: 16px;
				letter-spacing: 0.05em;
			}
			.gfield_label[for="input_1_7"] {
				display: none;
			}

		}

		select {
			width: 100%;
			appearance: none;
			border-radius: 3px;
			padding: 15px 50px 15px 15px;
			background: $white url(images/select-icon.svg) no-repeat right 15px center;
			border: 1px solid #D1D3E1;

			@include tablet-portrait {
				padding: 15px;
			}

			&:focus,
			&:active {
				outline: none;
			}
		}

		.online-title,
		.gform-workshop  .gfield_label_before_complex,
		#field_1_48 .gfield_label_before_complex {
			color: $orange;
			font-weight: bold;
			letter-spacing: 0.05em;
			padding: 0 0 10px 0 !important;
		}

		.name_first label,
		.name_last label {
			padding: 5px 0;
			letter-spacing: 0;
			font-size: 0.8125em;
		}

		.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
		.gform_wrapper textarea {
			width: 100%;
			border: 1px solid #D1D3E1;
			border-radius: 3px;
			padding: 15px;

			&:focus,
			&:active {
				outline: none;
			}
		}

		.gform_wrapper li.gfield.gfield_creditcard_warning {
			border: none;
			background: none;
		}

		.ginput_container_creditcard,
		.ginput_container_address {

			span {
				display: block;
			}

			.ginput_full {
				padding: 0 0 20px 0;
			}

			label {
				font-size: 0.8125em;
				padding: 5px 0 0 0;
			}

			.gform_card_icon_container {
				padding: 0 0 20px 0;
				height: auto;
				margin: 0;
			}

			.ginput_right,
			.ginput_left {
				width: 100%;
				margin-right: 0;
				padding: 0 0 20px 0;
			}


		}

		.ginput_total {
			color: $orange;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.625em;
			letter-spacing: 0.02em;
		}

		.gform_wrapper .ginput_complex .ginput_cardinfo_right span.ginput_card_security_code_icon {
			height: 28px;
			background-position: 0 -122px;
			left: 0;

		}

		.gfield_creditcard_warning_message {
			padding: 20px 40px;
			color: $orange;

			span {
				border-bottom: 0;
				padding-bottom: 0;
				margin-bottom: 0;
				
			}
		}

		#field_1_23 {
			text-align: center;
			font-size: 0.875em;
			line-height: 1.25em;
			font-style: italic;
			color: $dark-blue;
			letter-spacing: 0.05em;
			padding: 50px 0 0 0;
			margin: 0;

			a {
				color: $orange;
				text-decoration: underline;
			}
		}

		.gform_footer input[type="submit"] {
			border: none;
			@include orange-gradient;
			border-radius: 4px;
			color: $white;
			font-weight: bold;
			font-size: 1.5em;
			padding: 10px 10px !important;
			margin: 0;
			min-height: 0;
			display: block;
			width: 100%;
			letter-spacing: 0.05em;

			@include tablet-portrait {
				padding: 25px 10px !important;
			}

			&:focus,
			&:active {
				outline: none;
			}
		}
	}		
}