section.testimonials {	

	.slide {
		@include aspect-ratio(1, 1);

		@include mobile-landscape {
			@include aspect-ratio(4, 3);
		}
		
		@include tablet-portrait {
			@include aspect-ratio(16, 7);
			max-height: 600px;
		}

		.wrapper {
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
		}

		.info {
			color: $white;
			text-align: center;
			max-width: 720px;
			margin: 0 auto;
			letter-spacing: 0.05em;
			
			blockquote {
				padding: 0 0 30px 0;

				@include tablet-portrait {
					padding: 0 0 60px 0;
				}

				p {
					font-size: 1.25em;
					line-height: 1.25em;
					font-style: italic;

					@include tablet-portrait {
						font-size: 1.625em;
					}
				}
			}

			cite {
				display: block;

				h4 {
					font-weight: bold;
					font-style: normal;
					text-transform: uppercase;
					font-size: 1.25em;
					letter-spacing: 0.1em;

					@include tablet-portrait {
						font-size: 1.625em;
					}						
				}

				h5 {
					text-transform: uppercase;
					padding: 10px 0 0 0;
					font-size: 0.875em;

					@include tablet-portrait {
						font-size: 1em;
						padding: 20px 0 0 0;
					}
				}
			}
		}

	}
}


section.testimonials-nav {
	padding: 0 0 50px 0;
	display: flex;
	justify-content: center;
	transform: translateY(-32px);

	@include tablet-landscape {
		transform: translateY(-65px);
	}


	a {
		display: block;
		max-width: 64px;
		margin: 0 12px;

		@include tablet-landscape {
			max-width: 130px;
			margin: 0 18px;
		}

		img {
			border-radius: 50%;
		}
	}
}